DATABASE_URL="postgresql://docker:docker@localhost:5432/signatures?schema=public"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
NEXTAUTH_SECRET="8vWn40nG+nnImn6L5479g/Mbnc9DDn+j2yEOWYPXciw="

#cloudflare r2 or aws
AWS_END_POINT=""
AWS_BUCKET_NAME=""
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""